{% extends 'flatpages/default.html' %}

{% load i18n %}
{% load tz %}

{% block content %}

<!-- Смена темы оформления -->

<h1> {% trans "All News" %} </h1>
<h3> {% trans "Number of news:" %} {{ news_list|length }} </h3>

<hr>

{% if is_not_premium %}
    <button> <a href="/sign/upgrade/"> {% trans "Become an Author" %} </a> </button>
{% endif %}

{% if news_list %}
    <table>
        <tr>
            <td>{% trans "Title" %}</td>
            <td>{% trans "Username" %}</td>
            <td>{% trans "Publication Date" %}</td>
            <td>{% trans "Description" %}</td>
        </tr>

        {% for news in news_list %}
        <tr>
            <td>{{ news.title }}</td>
            <td>{{ news.author.user.username }}</td>
            <td>{{ news.created_at|timezone:TIME_ZONE|date:'d.m.Y H:i' }}</td>
            <td>{{ news.content|truncatechars:20 }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2> {% trans "No news available!" %} </h2>
{% endif %}

{% endblock content %}
